<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity?.IsAuthenticated ?? true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>Du har ikke adgang til denne side.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Siden blev ikke fundet</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Siden blev ikke fundet.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
